<div class="container">

  <p id="notice"><%= notice %></p>

  <h2>
    <%= @mood.name %>
  </h2>

  <% @mood.scales.each do |scale| %>
    <h4><%= scale.name %></h4>
    <% if scale.image_url %>
      <img src=<%= scale.image_url %>>
    <% end %>
    <p><%= scale.description %>

  <% end %>
  
  <%= link_to 'Back', moods_path %>

</div>
